@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Rancho&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #FFF;
}

#header {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#header .logo {
    color: #094b65;
    font-weight: 700;
    font-size: 2em;
    text-decoration: none;
    font-family: 'Rancho', cursive;
}

#header ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

#header ul li {
    list-style: none;
    margin-left: 20px;
}

#header ul li a {
    text-decoration: none;
    padding: 6px 15px;
    color: #094b65;
    border-radius: 20px;
}

#header ul li a:hover,
#header ul li a.active {
    background: #094b65;
    color: #FFF;
}

#header div .usuarioLogado label a {
    padding-right: 6px;
    color: #094b65;
}

/* filtro */

.filtro {
    width: 180px;
    height: 100%;
    background-color: brown;
}

/* Area do livro */

.livro-itemAc {
    padding-left: 50px;
    padding-right: 50px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 50px;
}

.livroAc {
    /* padding: auto 4px 4px 25px; */
    width: 22%;
    margin-bottom: 10px;
    margin-top: 30px;
    margin-left: 5px;
    margin-right: 5px;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

.imagemAc {
    margin-bottom: 5px;
}

.imagemAc img{
    width: 120px;
}

.infoAc {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.nomeAcessoAc strong {
    height: 100px;
    display: flex;
    font-size: 0.9em;
    align-items: center;
    justify-content: center;
}

.bloco1Ac {
    height: 200px;
    font-size: 0.8em;
    /* display: flex; */
    /* align-items: center;
    flex-direction: column;
    justify-content: center; */
}

.subbloco1Ac {
    /* display: flex; */
    /* align-items: center;
    flex-direction: column;
    justify-content: center; */
}

.subbloco2Ac {
    /* display: flex; */
    /* align-items: center;
    flex-direction: column;
    justify-content: center; */
}

.rodapeImagemAc {
    width: 100%;
}

.rodapeImagemAc a {
    text-decoration: none;
}

.btn-detalhesAc {
    width: 90%;
    display: flex;
    justify-content: center;
    margin-bottom: 2px;
}

.btn-disponibilidadeAc {
    width: 90%;
    display: flex;
    justify-content: center;
}

/* newLivro */

#formulario {
    font-size: 0.9em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-form {
    width: 80%;
    display: flex;
    justify-content: center;
}

.form-livro {
    margin: 50px;
    width: 80%;
}

.form {
    display: flex;
}

.formLabel {
    width: 17%;
    margin-right: 3%;
    display: grid;
    align-items: end;
    justify-items: end;
}

.formInput {
    width: 80%;
    float: right;
    display: grid;
    align-items: end;
}

.formInput input[type="text"] {  
    outline: none;
    color: white;  
    border: 2px solid #3498db;
}

.formInput input[type="text"]:focus {
    border-color: #2ecc71;
}

.sinopse {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    display: flex;
}

.LabelSinopse {    
    width: 17%;
    margin-right: 3%;
    display: grid;
    align-items: start;
    justify-items: end;
}

#textarea {
    width: 80%;    
    float: right;
    border: 2px solid #3498db;
}

#textarea:focus {
    outline: none;
    color: white; 
    border-color: #2ecc71;
}

.botao {
    margin-top: 20px;
    float: right ;
}

.botao button {
    border: 2px solid #3498db;
}

.botao button:focus {
    border-color: #2ecc71;
}