@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Rancho&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #FFF;
}

#livro-item {
    width: 80%;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
}

#boxLivro {
    display: flex;
    margin-top: 50px;
    
}

#imagem {
    width: 20%;
    /* float: left; */
}

#imagem img {
    width: 90%;
    /* float: left; */
}

#livro {
    display: flex;
    
}

#info {
    width: 80%;
    float: left;
    display: flex;
}

.bloco1 {
    float: left;
}

.nome strong {
    font-size: 1.7em;
    padding-bottom: 10px;
}