@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,200&display=swap');

* {
margin: 0;
padding: 0;
box-sizing: 0;
font-family: 'Poppins', sans-serif;
}

body {
background: #34495e;
}

::-webkit-scrollbar { 
width: 8px; 
border-radius: 25px; 
} 

::-webkit-scrollbar-track { 
background: #f1f1f1; 
} 

::-webkit-scrollbar-thumb {
border-radius: 50px; 
} 

::-webkit-scrollbar-thumb:hover { 
background: #069; 
}

.form {
background: #d3d3d37a;
width: 50%;
height: 60%;
margin: 0 auto;
text-align: center;
border: 2px solid #069;
border-radius: 10px;
margin-top: 40px;
margin-bottom: 40px;
}

h1 {
background: #069;
color: #FFF;
}

input,
select {
border-radius: 8px;
height: 20px;
border: none;
outline: none;
padding: 0 10px;
}

input {
font-size: 12px;
}

label {
font-size: 12px;
}

.rodape input, 
.rodape button {
cursor: pointer;
border-radius: 5px;
border: none;
width: 80px;
height: 35px;
text-align: center;
padding: 0;
}

.rodape input:hover,
.rodape button:hover  {
background: #069;
color: #FFF;
border: none;
}

.rodape {
display: flex;
justify-content: center;
}

.sexo {
display: flex;
justify-content: center;
align-items: center;
}

#msg-sucesso {
    width: 48%;
    margin: 10px auto;
    padding: 10px;
    text-align: center;
    background-color: rgba(50,205,50,.3);
    border: 1px solid rgba(34, 139, 34);
}

.msg-erro {
    width: 48%;
    margin: 10px auto;
    padding: 10px;
    text-align: center;
    background-color: rgba(250,128,114,.3);
    border: 1px solid rgba(165, 42, 42);
}  