@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Rancho&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #FFF;
}

#header {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #191919;
}

#header .logo {
    color: #094b65;
    font-weight: 700;
    font-size: 2em;
    text-decoration: none;
    font-family: 'Rancho', cursive;
}

#header ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

#header ul li {
    list-style: none;
    margin-left: 20px;
}

#header ul li a {
    text-decoration: none;
    padding: 6px 15px;
    color: #094b65;
    border-radius: 20px;
}

#header ul li a:hover,
#header ul li a.active {
    background: #094b65;
    color: #FFF;
}

/* filtro */

section .filtro {
    width: 180px;
    height: 100%;
    background-color: brown;
}

/* Area do livro */

section .livro {
    padding: 25px;
}

section .imagem img{
    width: 120px;
}

/* newLivro */

section {
    display: flex;
    justify-content: center;
    align-items: center;
}

section .form-livro {
    margin: 50px;
    width: 1050px;
}



section form textarea {
    width: 1117px;
}