@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Rancho&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #FFF;
}

#header {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#header .logo {
    color: #094b65;
    font-weight: 700;
    font-size: 2em;
    text-decoration: none;
    font-family: 'Rancho', cursive;
}

#header ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

#header ul li {
    list-style: none;
    margin-left: 20px;
}

#header ul li a {
    text-decoration: none;
    padding: 6px 15px;
    color: #094b65;
    border-radius: 20px;
}

#header ul li a:hover,
#header ul li a.active {
    background: #094b65;
    color: #FFF;
}

/* filtro */

.filtro {
    width: 180px;
    height: 100%;
    background-color: brown;
}

/* Area do livro */

.livro-item {
    padding-left: 50px;
    padding-right: 50px;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
}

.livro {
    padding: 25px 4px 4px 25px;
    width: 300px;
    height: 441px;
    display: flex;
    flex-direction: column;
    border-color: rgba(0, 0, 0, 0.493);
    align-content: center;
    align-items: center;
}

.imagem img{
    width: 120px;
}

/* newLivro */

#formulario {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-livro {
    margin: 50px;
    width: 80%;
}

.form-livro input {
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 1px solid #000;
}

.form-livro textarea {
    border: 1px solid #000;
}

#textarea {
    width: 100%;
}
